 * {
     box-sizing: border-box;
 }
 
 body {
     font-family: 'Roboto Mono', monospace;
 }
 
 h1 {
     padding: 20px;
 }
 
 li {
     list-style-type: none;
 }
 
 .header-container {
     font-family: 'Roboto Mono', monospace;
     background: linear-gradient(-45deg, #fa93ba, #ffe57e, #25b9af, #e9c4dc);
 }
 
 .header-container p {
     font-size: 1.5em;
 }
 
 .header-container svg {
     fill: white;
 }
 
 svg {
     fill: black;
     margin-bottom: 30px;
     transition: all .5s ease-out;
 }
 
 svg:hover {
     transform: scale(1.5);
 }
 
 .skills svg {
     fill: pink;
 }
 
 p {
     margin: 15px;
 }
 
 .skills {
     min-height: 250px;
 }
 
 .skills ul {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     padding-left: 0;
     margin: 15px;
 }
 
 .skills li:hover {
     opacity: 0.8;
 }
 
 .about-me {
     min-height: 600px;
 }
 
 .about-me p {
     max-width: 90%;
 }
 
 .about-me img {
     border-radius: 50%;
     margin: auto;
     height: 200px;
 }
 
 .about-flex {
     display: flex;
     flex-direction: column;
 }
 
 .projects-container {
     margin: auto;
 }
 
 .container-fluid {
     color: black;
 }
 
 nav {
     background-color: rgba(255, 255, 255, 0.9);
     font-family: 'Roboto Mono', monospace;
 }
 
 a.nav-link {
     color: black;
     border-radius: 11px;
 }
 
 a.nav-link:hover {
     background-color: rgba(250, 147, 186, 255);
     color: white;
     transition: all 0.3s ease-out;
 }
 
 .projects-container {
     background-color: #f9f0f0;
 }
 
 .project-flex {
     padding: 50px;
 }
 
 .card {
     border-radius: 10px;
     margin: 8px;
     box-shadow: none;
     transition: box-shadow .5s;
 }
 
 .card:hover {
     box-shadow: 0px 0px 5px #515151;
 }
 
 .card-body {
     justify-content: space-between;
     display: flex;
     flex-direction: column;
 }
 
 .row {
     justify-content: center;
 }
 
 img {
     margin-top: 10px;
     border-radius: 10px;
 }
 
 img:hover {
     opacity: 0.8;
 }
 
 .btn {
     background-color: rgb(80, 202, 187);
     border-color: rgb(80, 202, 187);
     transition: all 0.5s ease-out;
 }
 
 .btn:hover {
     background-color: #e9c4dc;
     color: black;
     border-color: #e9c4dc;
 }
 
 .btn:focus {
     background-color: rgb(104, 218, 205);
 }
 
 .header-container {
     grid-area: header;
 }
 
 .skilss {
     grid-area: skilss;
 }
 
 .about-me {
     grid-area: about;
 }
 
 .projects-container {
     grid-area: projects;
 }
 
 .experience {
     grid-area: experience;
     background-color: #fef4c7;
 }
 
 .contact {
     display: flex;
     flex-direction: column;
     align-items: center;
     grid-area: contact;
     padding: 30px;
     text-align: center;
     /*background-image: url("../images/0202.jpg"); */
 }
 
 .contact ul,
 .contact p {
     text-align: center;
     margin: 0;
     padding: 0;
 }
 
 .contact svg {
     fill: rgb(80, 202, 187);
 }
 
 .education {
     grid-area: education;
 }
 
 .space {
     grid-area: space;
 }
 
 footer {
     background-color: #a0bbb8;
     display: flex;
     flex-direction: column;
     padding: 15px;
     align-items: center;
 }
 
 footer p {
     color: gray;
 }
 
 .carousel-text {
     padding: 20px;
 }
 
 #gotoTop {
     display: none;
     position: fixed;
     bottom: 20px;
     right: 30px;
     z-index: 99;
     font-size: 18px;
     border: none;
     outline: none;
     background-color: #f786aa;
     color: white;
     cursor: pointer;
     padding: 15px;
     border-radius: 4px;
 }
 
 #gotoTop:hover {
     background-color: #555;
 }
 
 @media screen and (min-width: 720px) {
     .about-flex {
         display: flex;
         align-items: center;
         padding: 100px;
     }
     .about h1 {
         margin-top: 45px;
     }
     .about-me p {
         margin-top: 30px;
     }
     .skills {
         min-height: 700px;
     }
     .skills-flex {
         padding: 100px;
     }
     .project-h {
         width: 80%;
         margin: 0 auto;
     }
     .row.row-cols-3 {
         padding: 100px;
     }
     .header-container {
         background: linear-gradient(-45deg, #ffe57e, #fa93ba, #25b9af, #e9c4dc);
         /* linear-gradient(-45deg, #f0ab96, #e894b4, #87cae3, #6cdcc2); */
         background-size: 400% 400%;
         animation: gradient 15s ease infinite;
         height: 80vh;
     }
     @keyframes gradient {
         0% {
             background-position: 0% 50%;
         }
         50% {
             background-position: 100% 50%;
         }
         100% {
             background-position: 0% 50%;
         }
     }
     .body-center {
         margin: 0 auto;
     }
     hr {
         width: 80%;
         color: rgb(104, 218, 205);
         margin: 0 auto;
     }
     .about-me,
     .skills {
         max-width: 80%;
         margin: 0 auto;
     }
 }